.card {
    height: 110vh !important;
    margin-top: 15px;
}
.card img {
    width: 50%;
    margin: auto;
    margin-top: 10px;
    aspect-ratio: 1/1;
    object-fit: contain;
}
.card .card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card .card-text{
overflow-y: hidden;
max-height: 50vh;
}